.data-title ul li, .lanren .slide_box img, .tabs a {
  cursor: pointer
}

.btn_a, a:active, a:hover, a:link, a:visited {
  text-decoration: none
}

a, abbr, address, article, aside, audio, b, blockquote, body, button, caption, cite, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-size: 14px;
  vertical-align: baseline;
  background: 0 0;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, 思源黑体, sans-serif
}

body, html {
  margin: 0;
  padding: 0
}

html {
  height: 100%
}

body {
  min-height: 100%
}

li, ol, ul {
  list-style: none
}

a:link {
  outline: 0
}

a:active {
  star: expression(this.onFocus=this.blur())
}

.layout-container {
  height: 100%;
  width: 100%;
  background: #f2f7fc;
}

.layout-menu {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2c333d;
  padding-top: 70px;
  z-index: 998
}

.nav-pills li a:hover {
  background: none !important;
}

.lanren, .layout-header {
  position: fixed;
  z-index: 999
}

.layout-header {
  height: 70px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #1c2732;
}

.layout-content {
  background: #f2f7fc;
  overflow: hidden;
  padding: 150px 0 0 250px;
  min-width: 1024px;
  box-sizing: content-box;

  #tab-panel {
    background: #ffffff;
    margin: 20px;
  }
}

.logo-bar {
  display: block;
  width: 250px;
  height: 70px;
  text-align: center
}

.logo-bar a {
  // background-image: url(/images/new/dashbord_brand.png);
  background-repeat: no-repeat;
  background-position: center center
}

.layout-container .logo-bar {
  background-color: #1c2732
}

.lanren {
  right: 0;
  top: 150px
}

.copy_a, .ios_height, .item-upload, .mount-circule, .mount-height, a.common-tip {
  position: relative
}

.lanren .slide_min {
  width: 28px;
  height: 112px;
  background: url(/images/slide_box.jpg) no-repeat;
  cursor: pointer
}

.lanren .slide_box {
  width: 154px;
  height: auto;
  overflow: hidden;
  background: url(/images/slide_box_bg.jpg) repeat-y;
  font-size: 12px;
  text-align: center;
  line-height: 130%;
  color: #666;
  border-bottom: 2px solid #4cbffe
}

.lanren .slide_box .weixin {
  margin-bottom: 5px;
  width: 120px;
  height: 120px
}

.lanren .slide_box p {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid #ddd
}

.lanren .slide_box span {
  padding: 5px 10px;
  display: block
}

.lanren .slide_box span a {
  color: #76a20c
}

.lanren .slide_box b {
  font-size: 12px
}

.depoly-said, .depoly-said > b {
  font-size: 14px;
  color: #8796b7
}

a.common-tip {
  top: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../img/console/wen.png) no-repeat;
  background-size: 16px
}

a:hover:enabled.common-tip {
  // background: url(/images/type/wen-hover.png) no-repeat;
  background-size: 16px
}

.tip-content {
  margin: 20px;
  display: none
}

.depoly-said {
  text-align: left;
  margin: 0 0 20px;
  width: auto;
  display: inline-block
}

.depoly-said > b {
  font-weight: 400
}

.btn_a {
  display: inline-block;
  padding: 5px 15px 5px 10px;
  font-size: 14px;
  color: #fff;
  background: #399CFF;
  border-radius: 20px
}

.btn_upload {
  background: #00a4ff;
  border-radius: 4px;
  margin: 0 0 20px
}

.btn_submit {
  color: #00Cc66;
  border: 1px solid #00Cc66;
  padding: 7px 30px;
  border-radius: 4px
}

.btn_submit_bg {
  background: #0c6;
  color: #fff;
  margin-right: 40px
}

.copy_a {
  top: -20px;
  left: 105px;
  border: 1px solid #399cff;
  color: #399cff;
  padding: 2px 20px
}

.depoly-banner-test, .depoly-line-test {
  background-image: url(../../img/console/test.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 5px 15px 5px 30px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #53d266;
  color: #53d266;
  margin-right: 20px
}

.depoly-jicheng-test {
  border: 1px solid #5d8aff;
  color: #5d8aff;
  background-image: url(/images/jicheng.png)
}

.depoly-banner-test {
  background-image: url(/images/banner-test.png)
}

.depoly-line-test:hover {
  color: #01b32b;
  border: 1px solid #01b32b;
  background: url(../../img/console/test2.png) 10px center no-repeat #F4F7F9
}

.depoly-line-test:focus {
  color: #53d266
}

.depoly-jicheng-test:hover {
  color: #0f53f8;
  border: 1px solid #0f53f8;
  background: url(/images/jicheng2.png) 10px center no-repeat #F4F7F9
}

.channel_link_table td, .channel_link_table th {
  border-bottom: 1px solid #EDEDED;
  text-align: center;
  vertical-align: middle
}

.data-count, .data-title {
  border-radius: 8px 8px 0 0
}

.count_calendar {
  background: url(/images/icon-excel.png) 15px center no-repeat
}

.channel_link_table {
  width: 100%
}

.channel_link_table td {
  height: 60px
}

.channel_link_table th {
  font-size: 16px;
  color: #282828;
  font-weight: 400;
  background: #F6F6F6;
  height: 47px
}

.channel_link_table tr.selected-row {
  background-color: #e5faef
}

.channel-link-operate {
  display: inline-block;
  width: 35px;
  background-size: 18px 18px
}

.img-link-look {
  background: url(/images/type/erweima.png) center center no-repeat
}

.img-link-luck {
  background: url(/images/type/bianji.png) center center no-repeat
}

.img-link-lock {
  background: url(/images/type/rubbish.png) center center no-repeat
}

.img-link-share {
  background: url(/images/type/share.png) center center no-repeat
}

.img-table {
  background: url(/images/type/channel-table.png) center center no-repeat
}

.img-daochu {
  background: url(/images/type/daochu.png) center center no-repeat
}

a.img-jia {
  background: url(/images/type/jia.png) center center no-repeat
}

a.img-jian {
  background: url(/images/type/jian.png) center center no-repeat
}

.img-daochu:hover, .img-link-lock:hover, .img-link-look:hover, .img-link-luck:hover, .img-link-share:hover, .img-table:hover {
  background-image: none
}

.channel-link-operate span {
  opacity: 0;
  color: #49A2FF;
  font-size: 14px;
  border-bottom: 1px solid #49A2FF
}

.channel-link-operate:hover span {
  opacity: 1
}

.container-title {
  font-size: 20px;
  color: #898989;
  margin: 0 0 15px
}

.data-count {
  width: 100%;
  margin-bottom: 45px
}

.data-title span {
  font-size: 16px;
  margin-left: 16px;
  color: #000;
  text-align: center;
  line-height: 40px
}

.data-title ul {
  margin: 6px auto;
  float: right
}

.data-title ul li {
  margin-right: 12px;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  padding: 2px 10px;
  float: right
}

.data-title ul li.active {
  background-color: #3fa9f5;
  color: #fff
}

.data-chart {
  margin: 5px 0 0;
  width: 100%;
  min-width: 960px;
  height: 320px
}

.tabs {
  display: inline-block;
  border: 1px solid #e8e8e8;
  border-right: none;
  vertical-align: top;
}

.tabs li {
  display: inline-block
}

.tabs a {
  display: inline-block;
  border-right: 1px solid #e8e8e8;
  padding: 8px 25px;
  color: #2B3748
}

.tabs .active a {
  background-color: #00a4ff;
  color: #fff!important;
  cursor: default;

  span {
    color: #00a4ff!important;
    background: #ffffff!important;
  }
}

.common-form button {
  display: inline-block;
  padding: 5px 25px;
  background: #00a4ff;
  color: #fff;
  border: 1px solid #00a4ff
}

.common-form input[type=text] {
  padding: 4px 8px;
  border: 1px solid #c4c4c4;
  border-radius: 4px
}

.common-form input:disabled {
  background: #f2f2f2
}

.common-form input[type=text]:focus {
  border: 1px solid #00a4ff;
  color: #282828
}

.depoly-label {
  margin: 30px 0 20px;
  cursor: pointer
}

input[type=checkbox], label > input[type=radio] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0
}

.depoly-common {
  border: 1px solid red
}

.depoly-length {
  width: 100%;
  border-bottom: 1px solid #F1F1F1
}

.depoly-web {
  width: 50%;
  padding: 0 0 30px
}

.depoly-web .depoly-said {
  margin: 10px 0 30px
}

.config-ios-name {
  width: 220px;
  float: left;
  color: #656565
}

.config-text, .depoly-txt {
  margin-left: 220px
}

.config-text > div, .config-text > div > input {
  display: inline-block;
  width: 100%
}

.base-message, .base-message span, .ipa-message div p {
  color: #656565
}

.ipa-message div {
  float: left;
  min-width: 45%;
  margin: 10px 0
}

.ipa-message td {
  padding: 10px;
  width: 35%
}

.ipa-message p.error, .ipa-message p.warn {
  margin-top: 15px;
  padding: 5px 10px;
  display: inline-block;
  color: red;
  background: #fff;
  border-radius: 5px;
  box-shadow: -3px 0 3px #e4e4e4, 3px 0 3px #e4e4e4, 0 -3px 3px #e4e4e4, 0 3px 3px #e4e4e4
}

.ipa-message p.info > img {
  width: 20px;
  height: 20px;
  vertical-align: middle
}

.count_calendar_right {
  background: #5d8aff;
  color: #fff;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  border-radius: 4px
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #c4c4c4;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  z-index: 3;
  color: #fff;
  background-color: #7FADFF;
  border-color: #ddd
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  background-color: #7FADFF;
  border-color: #7FADFF;
  cursor: default
}

.disabled_pre {
  color: #c4c4c4;
  cursor: not-allowed
}

.pagination > li > a.disabled_pre:focus, .pagination > li > a.disabled_pre:hover {
  color: #c4c4c4;
  background: #fff
}

.not-integrated .tab-op a.btn_a, button[disabled], html input[disabled] {
  cursor: default;
  background: #c4c4c4;
  border: #c4c4c4
}

.not-integrated .tab-content {
  opacity: .5
}

.no-template {
  color: #898989;
  font-size: 16px
}

.item-upload {
  min-height: 540px;
  text-align: center;
  margin: 50px 20px;
  background: #fafdff;
}

.create-all {
  background: #FFf;
  height: auto;
  overflow: hidden;
  margin-bottom: 30px
}

.title_h1 {
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  font-family: none;
  font-weight: lighter;
  font-size: 36px
}

.centerbox {
  margin-bottom: 40px
}

.centerbox hr {
  height: 2px;
  background: #4CBFFE;
  margin: 0 auto;
  width: 30px
}

.lication-info-item-title {
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #E4E8F3;
  margin-bottom: 15px
}

.lication-info-item p {
  line-height: 52px;
  color: #000;
  font-size: 20px
}

.lication-info-item ul li {
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  float: left
}

.lication-info-item ul.create-new-lis li span {
  text-align: right;
  width: 13%;
  float: left;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  margin-right: 22px
}

.lication-info-item ul li input[type=text] {
  width: 33%;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  background-color: #fcfcfc;
  line-height: normal;
  color: #000;
  float: left
}

.mount-height {
  width: 3px;
  height: 5500px;
  border: 1px solid #00a4ff;
  float: left;
  left: 7%;
  top: 25px;
  background: #00A4ff
}

.mount-circule {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #00a4ff;
  background: #00a4ff;
  left: 6%;
  top: 20px;
  margin-left: 3px
}

.mount-text {
  font-size: 18px;
  color: #000;
  margin-bottom: 30px
}

.mount-ios-height {
  margin: 0 auto 50px
}

.ios_qiehuan .anniu_icon, .ios_qiehuana .anniu_icon, .ios_qiehuanb .anniu_icon {
  margin-right: 20px;
  font-size: 10px;
  line-height: 20px
}

.ios_center {
  margin-top: 10px
}

.ios_qiehuan .anniu_icon {
  width: 88px;
  height: 20px;
  float: right;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #2a83ff;
  color: #2a83ff
}

.ios_qiehuan .anniu_icona, .ios_qiehuana .anniu_icon {
  width: 88px;
  height: 20px;
  float: right;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center
}

.ios_qiehuan .active .anniu_icon {
  background: #2a83ff;
  color: #fff
}

.ios_qiehuan .anniu_icona {
  border: 1px solid #1ac553;
  color: #1ac553
}

.ios_qiehuan .active .anniu_icona {
  background: #1ac553;
  color: #fff
}

.ios_centera {
  margin-top: 20px
}

.con_right ul, .ios_centerb {
  margin-top: 30px
}

.mmbb {
  margin-left: 25px;
  color: red;
  position: absolute;
  top: 0
}

.btn-width div, .ios_qiehuana, .price_center, .price_img, .zhifu p {
  position: relative
}

.ios_qiehuana {
  top: -5px;
  left: -20px;
  margin-bottom: 50px;
  width: 100%
}

.ios_qiehuana .anniu_icon {
  border: 1px solid #2a83ff;
  color: #2a83ff
}

.ios_qiehuana .anniu_icona, .ios_qiehuanb .anniu_icon {
  border-radius: 4px;
  width: 88px;
  float: right;
  margin-bottom: 10px;
  text-align: center;
  height: 20px
}

.ios_qiehuana .active .anniu_icon {
  background: #2a83ff;
  color: #fff
}

.ios_qiehuana .anniu_icona {
  border: 1px solid #1ac553;
  color: #1ac553
}

.ios_qiehuana .active .anniu_icona {
  background: #1ac553;
  color: #fff
}

.ios_qiehuanb .anniu_icon {
  border: 1px solid #2a83ff;
  color: #2a83ff
}

.ios_qiehuanb .active .anniu_icon {
  background: #2a83ff;
  color: #fff
}

.ios_qiehuanb .anniu_icona {
  width: 88px;
  height: 20px;
  float: right;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #1ac553;
  color: #1ac553
}

.ios_qiehuanb .active .anniu_icona {
  background: #1ac553;
  color: #fff
}

.con_right ul {
  margin-bottom: 30px
}

.con_right li {
  margin-left: 50px;
  line-height: 40px;
  font-size: 17px
}

.con_right li span.kuan {
  border: 1px solid #09a2f3;
  padding: 0 6px;
  margin-right: 5px;
  border-radius: 4px;
  color: #09a2f3
}

.con_pic {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: red
}

.con_right pre {
  background: #0f192a;
  color: #fff;
  line-height: 40px;
  padding: 10px 0 0 20px;
  letter-spacing: 1px;
  border-radius: 10px;
  width: 100%
}

.con_right p {
  line-height: 20px;
  font-size: 14px;
  background: #e5e5e5;
  text-indent: 10px;
  width: 480px;
  height: 20px;
  margin: 10px 50px
}

.con {
  width: 80%;
  margin: 20px 50px
}

.con pre {
  text-align: left
}

#_qr_container .qr_title, #_qr_container .qr_url, .doc, .price_day, .price_try {
  text-align: center
}

.con p {
  margin: 20px 200px
}

.con_right .mount-ios-p {
  background: #FFf;
  font-size: 16px;
  width: 100%;
  color: #656565;
  margin: 15px 0;
  height: auto;
  line-height: 30px;
  text-indent: 0;
  padding-left: 25px
}

.mount-ios-sp {
  color: #FE0000;
  font-size: 18px
}

.mount-ios-img {
  margin-left: 75px
}

.serve_main {
  background-image: url(/images/price/price_bac.png);
  height: 100%;
  width: 100%;
  background-size: cover
}

.price_try {
  height: 250px;
  margin: 150px auto 80px;
  border-radius: 5px
}

.price_try_img {
  border-right: 2px solid #3C5466;
  padding: 0 30px
}

.price_day, .price_try_img {
  margin-top: 40px;
  float: left
}

.price_center {
  left: 27%
}

.price_try_text {
  font-size: 1.5rem;
  padding-top: 20px
}

.price_day b, .price_try_text {
  color: #629AFF;
  text-align: center
}

.price_day {
  padding: 0 0 0 70px
}

.price_time {
  font-size: 1.3rem;
  margin-top: 40px;
  color: #A6ABB1
}

a.price_formal {
  padding: 10px 70px;
  background: #04BD02;
  border-radius: 5px;
  color: #FFf;
  border: 1px solid #FFf;
  font-size: 18px
}

.price_day b {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #656565;
  font-size: 1.7rem;
  background: #FFf;
  font-weight: 400;
  margin: 0 4px;
  display: inline-block
}

.prompt p {
  margin: 20px 30px 0 0;
  font-size: 1.1rem
}

.charge_list {
  background: #FFf;
  border-radius: 5px
}

.charge_list > li {
  min-height: 100px;
  border-bottom: 1px solid #E4E8F3
}

.charge_list-title {
  font-size: 1.3rem;
  line-height: 100px;
  padding-left: 30px
}

.charge_list-title span {
  font-size: 1.3rem;
  padding-left: 40px;
  color: #A6A6A6
}

.overlay-btn, .platform-btn {
  display: inline-block;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer
}

.platform-btn {
  border-radius: 4px;
  border: 1px solid #ececec;
  color: #989898;
  background: #ECECEC
}

.platform-btn.active-btn, .platform-btn:hover {
  color: #FFf;
  background: #5D8AFF
}

.overlay-btn {
  color: #989898;
  background-color: #fff;
  border: 1px solid #989898;
  border-radius: 7px
}

.overlay-btn.active-btn, .overlay-btn:hover {
  color: #0c6;
  border: 1px solid #0c6
}

.overlay-btn.active-btn {
  background-image: url(/images/price/select.png);
  background-position: bottom right;
  background-repeat: no-repeat
}

span.chart-btn {
  cursor: pointer;
  padding: 5px;
  margin-right: 20px;
  color: #989898
}

.chart-btn.active-btn, .chart-btn:hover {
  color: #5D8AFF;
  border-bottom: 2px solid #5D8AFF
}

.dashbord-loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, .3);
  z-index: 9999;
  display: none
}

.title .data_profile li, .title .data_profile li.active {
  background-position: 10px 6px;
  background-repeat: no-repeat
}

.dashbord-loading img {
  width: 60px;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute
}

.detail-message td {
  height: 30px;
  min-width: 300px;
  vertical-align: middle
}

#_qr_container {
  padding: 20px;
  background-color: #fff
}

#_qr_container .qr_img canvas, #_qr_container .qr_img img {
  margin: 20px auto
}

.title .data_profile {
  margin-left: 18px
}

.title .data_profile li {
  margin-left: 20px;
  padding: 2px 10px 4px 30px;
  cursor: pointer;
  color: #282828;
  font-size: 14px
}

.title .data_profile li.active {
  color: #fff;
  border-radius: 3px;
  background-color: #4179FF
}

.title .data_profile .all {
  background: url("../../img/overview/icon.png");
  background-position: -34px -276px;
}

.title .data_profile .all.active {
  background-position: -34px -276px;
}

.title .data_profile .android {
  background: url("../../img/overview/icon.png");
  background-position: -34px -95px;
}

.title .data_profile .android.active {
  background-position: -34px -95px;

}

.title .data_profile .iOS {
  background: url("../../img/overview/icon.png");
  background-position: -34px -126px;
}

.title .data_profile .iOS.active {
  background-position: -34px -126px;
}

.title .data_profile .traffic {
  background: url("../../img/overview/icon.png");
  background-position: -34px -276px;
}

.title .data_profile .traffic.active {
  background-image: url(/images/layout-menu/traffic1.png)
}

.title .data_profile .install {
  background-image: url(/images/layout-menu/install2.png)
}

.title .data_profile .install.active {
  background-image: url(/images/layout-menu/install1.png)
}

.title .data_profile .registration {
  background-image: url(/images/layout-menu/registration2.png)
}

.title .data_profile .registration.active {
  background-image: url(/images/layout-menu/registration1.png)
}

.content-menu {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  padding-top: 70px;
  z-index: 998;
  border-right: 1px solid #F4F3F2
}

.content-menu-list {
  margin-left: 40px
}

.content-menu-list li {
  margin: 0 0 23px
}

.content-menu-list li a, .content-menu-list li > ul li a {
  color: #666;
  font-size: 16px
}

.content-menu-list .active, .content-menu-list li a:hover, .content-menu-list li > ul li a:hover {
  color: #00a4ff
}

.content-menu-list li > ul li {
  margin: 17px 0 17px 18px
}

.content_name {
  font-size: 20px;
  color: #000;
  margin: 0 0 48px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px
}

.menu_fix {
  width: 228px;
  height: auto;
  position: fixed;
  right: 0;
  top: 250px;
  border-left: 3px solid #4179FF;
  box-shadow: 0 0 21px rgba(134, 194, 225, .3);
  -moz-box-shadow: 0 0 21px rgba(134, 194, 225, .3);
  -webkit-box-shadow: 0 0 21px rgba(134, 194, 225, .3);
  padding: 15px 0;
  background: #FFf;
  z-index: 1
}

@media screen and (max-width: 1201px) {
  .menu_fix {
    display: none
  }
}

@media screen and (max-width: 900px) {
  .total {
    width: 100% !important
  }
}

@media screen and (max-width: 1200px) {
  .total {
    width: 100% !important
  }
  .add-trend {
    width: 100%
  }
}

@media screen and (max-width: 900px) {
  .add-trend {
    width: 100%
  }
  #chart_brand {
    margin-left: 0 !important
  }
}

@media screen and (max-width: 1200px) {
  #chart_brand {
    margin-left: 0 !important
  }
}

.detail_icon {
  font-size: 14px;
  width: 108px;
  // height: 30px;
  border: 1px solid #00a4ff;
  display: inline-block;
  line-height: 30px;
  border-radius: 3px;
  color: #00a4ff;
  margin-bottom: 20px;

  &:hover {
    color: #00a4ff
  }
}

.doc {
  border: 1px solid #E5E5E5;
  width: 230px;
  height: 242px
}

.doc > img {
  margin: 45px auto 10px
}

.doc > p {
  color: #666;
  font-size: 18px
}

.doc > p > a {
  padding: 7px 30px;
  background: #4890FF;
  color: #fff
}

/**
左边导航样式
 */
.menu-app {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #252b34;
  padding-top: 50px;
  text-align: center
}

.menu-items .menu-item {
  margin-bottom: 40px
}

.menu-items .menu-item-text {
  margin: 20px 0 20px 70px;
}

.menu-items .menu-item-text span {
  font-size: 14px;
  text-decoration: none;
  cursor: default;
  color: #ffffff;
}

.menu-items .active-icon {
  display: none
}

.menu-items .deactive-icon {
  display: inline
}

.menu-items a {
  color: #7a8086;
  text-decoration: none
}

.menu-items a:hover {
  color: #5d8aff
}

.menu-items a:hover .deactive-icon {
  display: none
}

.menu-items a:hover .active-icon {
  display: inline
}

.menu-items .active-icon, .menu-items .deactive-icon {
  margin-right: 20px
}

.menu-items .item-5 .subItem-1 .deactive-icon {
  display: none
}

.menu-items .item-5 .subItem-1 .active-icon {
  display: inline
}

/***
左侧导航划过样式
 */
.my-active .active {
  background: #1c2732;
  border-left: 2px solid #2893e3 !important;
  color: #fff;
}

.my-active div a p {
  color: #fff;
}

.menu-items .menu-child div:hover {
  background: #1c2732;
  border-left: 2px solid #2893e3;
}

.menu-child div:hover a p {
  color: #fff;
}

.menu-items .menu-child div {
  margin: 10px auto;
  height: 40px;
  width: 100%;
  line-height: 40px;
  border-left: 2px solid transparent;
}

.menu-items .menu-child div a {
  display: inline-block;
  width: 100%;
  border: none;
  box-shadow: none;
  padding-left: 60px;
}

.menu-items .menu-child div a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 18px;
}

.menu-items .menu-child div a p {
  display: inline-block;
}

.icon {
  background: url("../../img/overview/icon.png") no-repeat center;
}

.my-overview {

  background-position: -38px -67px;
}

#my-overview:hover .my-overview {
  background-position: -8px -67px;
}

.my-android {
  background-position: -8px -98px;
}

//#my-android:hover .my-android {
//  background-position: -8px -98px;
//}

.my-ios {
  background-position: -38px -128px;
}

#my-ios:hover .my-ios {
  background-position: -8px -128px;
}

.my-web {
  background-position: -38px -158px;
}

#my-web:hover .my-web {
  background-position: -8px -158px;
}

.my-qudao1 {
  background-position: -38px -188px;

}

#my-qudao1:hover .my-qudao1 {
  background-position: -8px -188px;
}

.my-qudao2 {
  background-position: -38px -218px;
}

#my-qudao2:hover .my-qudao2 {
  background-position: -8px -218px;
}

/**
内容
 */
@media (min-width: 1200px) {
  .container {
    width: 970px
  }
}

.con_right pre {
  width: 100%;
  line-height: 28px;
  padding: 0;
  border-radius: 5px;
  background: 0 0
}

.content_obc, .content_sft {
  display: none
}

.obc .content_obc, .sft .content_sft {
  display: block
}

.obc .btn_obc {
  background: #2a83ff;
  color: #fff
}

.sft .btn_sft {
  background: #1ac553;
  color: #fff
}

.menu-app .back {
  border: 1px solid #4179ff;
  border-radius: 4px;
  color: #4179ff;
  background: url(/images/back.png) no-repeat 15px center;
  display: inline-block;
  padding: 5px 15px 5px 40px;
  font-size: 14px
}

.border_icon_title {
  font-style: normal;
  margin: 0 5px 0 10px;
  font-size: 16px
}

.step_top {
  width: 152px;
  height: 44px;
  border: 1px solid #4890ff;
  color: #4890ff;
  line-height: 44px;
  display: inline-block;
  text-align: center;
  font-size: 16px
}

.step {
  display: none
}

#tabs a {
  display: inline-block;
  width: 180px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #999;
  text-align: center;
  padding: 0;

  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
    // vertical-align: middle;
    background: #ccc;
    color: #999;
  }
}

.tabs_bc {
  background: #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin: 13px 0 0 15px
}

.tabs_bc > span {
  height: 20px;
  line-height: 20px;
  display: block;
  color: #999;
  text-align: center
}

.tabs_sj {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 20px solid #e5e5e5;
  left: 205px;
  top: 0
}

.tabs_sj > div {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 20px solid #fff;
  left: -22px;
  top: -20px;
  z-index: 1
}

#tabs a.step_1 {
  color: #999
}

#tabs a.step_1.active .tabs_bc, #tabs a.step_2.active .tabs_bc, #tabs a.step_3.active .tabs_bc, #tabs a.step_4.active .tabs_bc {
  background: #16a5af
}

#tabs a.step_1.active .tabs_bc > span, #tabs a.step_2.active .tabs_bc > span, #tabs a.step_3.active .tabs_bc > span, #tabs a.step_4.active .tabs_bc > span {
  color: #fff
}

#tabs a.step_1.active, #tabs a.step_2.active, #tabs a.step_3.active, #tabs a.step_4.active {
  color: #333
}


/***
android 页面
 */
.my-app {
  height: auto;
  margin-top: 30px;
  h1 {
    font-size: 20px;
    color: #333;
    margin-top: 60px;
    margin-bottom: 28px;
    line-height: 28px;
  }
  h2 {
    margin: 0 0 28px 0;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-left: 30px;
    span {
      font-weight: 800;
    }
  }
  img {
    width: 100%;
    margin-left: 30px;
    margin-bottom: 28px;
  }
  pre {
    margin-left: 30px;
    display: block;
    padding: 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  .download {
    height: 70px;
    border: 1px solid #e8e8e8;
    margin: 38px 0 65px 0;
    background: url("../../img/copywriting/a@2x.png") no-repeat 30px;
    span {
      display: inline-block;
      font-size: 16px;
      color: #666;
      line-height: 70px;
    }
    .name {
      font-size: 18px;
      margin-left: 66px;
    }
    div {
      .edition {
        margin: 0 86px 0 93px;
      }
      button {
        width: 80px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        border: none;
        outline: none;
        font-size: 16px;
        color: #fff;
        background: #00a4ff url("../../img/copywriting/xiaz@2x.png") no-repeat 10px;
        padding-left: 30px;
        border-radius: 5px;
        margin: 16px 34px 0 0;
      }
    }
  }
}

.upload-filebtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: opacity(alpha=0);
}

.blank-bg {
  position: fixed;
  top: 70px;
  left: 270px;
  right: 20px;
  height: 20px;
  background: #f2f7fc;
  z-index: 99;
}

.common-form {
  padding: 0 30px;
}

.tab-form {
  overflow: hidden;
}

.deposite_list {
  padding: 0 20px;
}

#app_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}