.my-banner {
  width: 100%;
  height: 870px;
  background: url("../../img/index/logo.png") no-repeat center;
  .my-banner-top {
    .banner-left {
      width: 168px;
      height: 50px;
      margin: 12px 0 0 34px;
      background: url("../../img/index/nlogo.png") no-repeat center;
    }
    .banner-right {
      margin-top: 24px;
      margin-right:4px;
      .banner-nav {
        padding: 0;
        li {
          a {
            display: inline-block;
            margin: 0 30px;
            text-decoration: none;
            color: #fff;
            font-weight: 800;
            font-size: 16px;
            float: left;
          }
          a:hover {
            color: #00a4ff;
          }
        }
        .active {
          color: #00a4ff;
        }
      }
      .logo {
        margin-top: -5px;
        a {
          display: inline-block;
          padding: 3px 20px;
          font-size: 16px;
          border: 1px solid #acadae;
          border-radius: 5px;
          color: #fff;
          text-decoration: none;
        }
        a:hover {
          background: #00a4ff;
          border: 1px solid #00a4ff;
        }
        .console {
          margin-left: 10px;
        }
        .apply {
          margin-left: 14px;
          margin-right: 30px;
        }
      }
    }
  }
  .my-banner-bottom {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-top: 200px;
    h1 {
      padding-bottom: 35px;
      border-bottom: 1px solid #fff;
      .typed-element {
        font-size: 60px;
        color: #fff;
      }
      .typed-cursor {
        opacity: 1;
        color: #0d56c2;
        font-size: 60px;
        margin-left: 10px;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
      }
      @keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @-webkit-keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @-moz-keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    p {
      margin-top: 36px;
      font-size: 16px;
      color: #fff;
      line-height: 30px;
    }
    a {
      margin-top: 70px;
      font-size: 18px;
      display: inline-block;
      width: 164px;
      height: 44px;
      line-height: 44px;
      color: #fff;
      background: #00a4ff;
      border-radius: 5px;
      text-decoration: none;
      padding-left: 33px;
      position: relative;
    }
    a:hover {
      background: #00baff;
    }
    a:before {
      position: absolute;
      display: inline-block;
      content: "";
      background: #fff;
      width: 18px;
      height: 2px;
      right: 30px;
      top: 21px;
      margin-bottom: 20px;
      z-index: 1;
      opacity: 1;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    a:after {
      position: absolute;
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #fff;
      right: 25px;
      top: 17px;
      margin-bottom: 16px;
      z-index: 1;
      opacity: 1;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before, a:focus:before {
      right: 15px;
    }
    a:hover:after, a:focus:after {
      right: 11px;
    }
  }
}

/***
个性化定制
 */
.my-install {
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  .title {
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
    h2 {
      font-size: 34px;
      color: #333;
      font-weight: 800;
    }
    p {
      text-align: center;
      line-height: 30px;
      font-size: 17px;
      color: #999;
      margin-top: 40px;
    }
  }
  .install-nav {
    margin-top: 60px;
    width: 100%;
    height: 680px;
  }
  .core-cards {
    list-style-type: none;
    display: inline-block;
    padding: 0;
  }

  .core-cards li {
    width: 22%;
    height: 300px;
    float: left;
    position: relative;
    overflow: hidden;
    margin-right: 3%;
    margin-bottom: 50px !important;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
  }

  .core-cards li:nth-child(2), .core-cards li:nth-child(6) {
    //margin: 0 5%;
  }

  @media only screen and (max-width: 992px) {
    .core-cards li {
      width: 45%;
    }

    .core-cards li:nth-child(2), .core-cards li:nth-child(5), .core-cards li:nth-child(8) {
      margin: 0;
    }

    .core-cards li:nth-child(odd) {
      margin-right: 10%;
    }
  }

  @media only screen and (max-width: 767px) {
    .core-cards li {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      height: 260px;
    }
  }

  .core-cards a {
    float: left;
    width: 100%;
    height: 100%;
    padding: 36px 24px;
    text-decoration: none;
  }
  .core-cards a h3 {
    font-size: 18px;
    font-weight: 800;
    color: #333;
  }
  .core-cards a * {
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
    position: relative;
    z-index: 1;
  }

  .core-cards a#card-ui h3 {
    padding-right: 20px;
  }
  .core-cards a p {
    width: 170px;
    font-size: 14px;
    color: #666;
  }
  .core-cards a .bg-img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    background-position: top center;
    opacity: 0;
    z-index: 0;
  }

  .core-cards a .bg-img:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
  }

  .core-cards a .card-icn {
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
    background-image: url("../../img/index/sprite.png");
    background-repeat: no-repeat;
  }

  .core-cards a .card-icn--ux-design {
    background-position: 0 -1140px;
  }

  .core-cards a .card-icn--ui-design {
    background-position: -60px -1140px;
  }

  .core-cards a .card-icn--mobile-ui {
    background-position: -120px -1140px;
  }

  .core-cards a .card-icn--web-design {
    background-position: -180px -1140px;
  }

  .core-cards a .card-icn--ubiquitous-design {
    background-position: -240px -1140px;
  }

  .core-cards a .card-icn--social-design {
    background-position: -300px -1140px;
  }

  .core-cards a .card-icn--wearable-apps {
    background-position: -300px -1140px;
  }
  .core-cards a .card-icn--wearable-apps1 {
    background-position: -360px -1140px;
  }
  .core-cards a .card-icn--wearable-apps2 {
    background-position: -420px -1140px;
  }

  .core-cards a .border {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #00a4ff;
  }

  .core-cards a:before {
    position: absolute;
    display: inline-block;
    content: "";
    background: #ffffff;
    width: 40px;
    height: 2px;
    left: -50px;
    bottom: 0;
    margin-bottom: 13px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .core-cards a:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ffffff;
    bottom: 0;
    left: -20px;
    margin-bottom: 9px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .core-cards a:hover .bg-img {
    opacity: 1;
  }

  .core-cards a:hover h3 {
    color: #ffffff;
  }

  .core-cards a:hover p {
    color: #f5f6f7;
  }

  .core-cards a:hover .border {
    height: 30px;
  }

  .core-cards a:hover:before {
    left: 30px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
    -moz-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
  }

  .core-cards a:hover:after {
    left: 67px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
    -moz-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
  }

  .core-cards a:hover .card-icn--ux-design {
    -webkit-animation: icnUxAnim 0.6s steps(20) 0.2s;
    -moz-animation: icnUxAnim 0.6s steps(20) 0.2s;
    animation: icnUxAnim 0.6s steps(20) 0.2s;
  }

  .core-cards a:hover .card-icn--ui-design {
    -webkit-animation: icnUxAnim 0.6s steps(20) 0.2s;
    -moz-animation: icnUxAnim 0.6s steps(20) 0.2s;
    animation: icnUxAnim 0.6s steps(20) 0.2s;
  }

  .core-cards a:hover .card-icn--mobile-ui {
    -webkit-animation: icnUxAnim 0.6s steps(20) 0.2s;
    -moz-animation: icnUxAnim 0.6s steps(20) 0.2s;
    animation: icnUxAnim 0.6s steps(20) 0.2s;
  }

  .core-cards a:hover .card-icn--web-design {
    -webkit-animation: icnUxAnim 0.8s steps(20) 0.2s;
    -moz-animation: icnUxAnim 0.8s steps(20) 0.2s;
    animation: icnUxAnim 0.8s steps(20) 0.2s;
  }

  .core-cards a:hover .card-icn--ubiquitous-design {
    -webkit-animation: icnUxAnim 0.6s steps(20) 0.2s;
    -moz-animation: icnUxAnim 0.6s steps(20) 0.2s;
    animation: icnUxAnim 0.6s steps(20) 0.2s;
  }

  .core-cards a:hover .card-icn--social-design {
    -webkit-animation: icnUxAnim 0.6s steps(20) 0.2s;
    -moz-animation: icnUxAnim 0.6s steps(20) 0.2s;
    animation: icnUxAnim 0.6s steps(20) 0.2s;
  }

  .core-cards a:hover .card-icn--wearable-apps {
    -webkit-animation: icnUxAnim 0.6s steps(20) 0.2s;
    -moz-animation: icnUxAnim 0.6s steps(20) 0.2s;
    animation: icnUxAnim 0.6s steps(20) 0.2s;
  }
  .core-cards a:hover .card-icn--wearable-apps1 {
    -webkit-animation: icnUxAnim 0.6s steps(20) 0.2s;
    -moz-animation: icnUxAnim 0.6s steps(20) 0.2s;
    animation: icnUxAnim 0.6s steps(20) 0.2s;
  }
  .core-cards a:hover .card-icn--wearable-apps2 {
    -webkit-animation: icnUxAnim 0.6s steps(20) 0.2s;
    -moz-animation: icnUxAnim 0.6s steps(20) 0.2s;
    animation: icnUxAnim 0.6s steps(20) 0.2s;
  }

  .core-cards .card--comingsoon:hover {
    background-color: #ffffff;
  }

  .core-cards .card--comingsoon a {
    cursor: default;
  }

  .core-cards .card--comingsoon a h3 {
    margin-top: 90px;
    color: #b5b8bb;
  }

  .core-cards .card--comingsoon a .border {
    height: 0;
  }

  .core-cards .card--comingsoon a:hover .bg-img {
    opacity: 0;
  }

  .core-cards .card--comingsoon a:hover h3 {
    color: #b5b8bb;
  }

  .core-cards .card--comingsoon a:hover .border {
    height: 0;
  }

  .core-cards .card--comingsoon a:hover:before {
    display: none;
  }

  .core-cards .card--comingsoon a:hover:after {
    display: none;
  }

  #homepage .core-cards li:nth-of-type(1n+7) {
    display: none;
  }
  @-webkit-keyframes icnUxAnim {
    from {
      background-position-y: 0;
    }

    to {
      background-position-y: -1200px;
    }
  }

  @-moz-keyframes icnUxAnim {
    from {
      background-position-y: 0;
    }

    to {
      background-position-y: -1200px;
    }
  }

  @keyframes icnUxAnim {
    from {
      background-position-y: 0;
    }

    to {
      background-position-y: -1200px;
    }
  }
}

/***
特性
 */
.my-characteristic {
  width: 100%;
  height: 440px;
  background: url("../../img/index/texing.png") no-repeat center;
  background-size: 100%;
  margin-top: 60px;
  ul {
    height: auto;
    li {
      margin-top: 85px;
      width: 22%;
      height: 270px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      list-style: none;
      margin-right: 3%;
      .img {
        margin-top: 30px;
        width: 100%;
        height: 80px;
      }
      .title {
        font-size: 24px;
        color: #fff;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .desc, .text {
        display: block;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 28px;
      }
      .img1 {
        background: url("../../img/index/jingzhun.png") no-repeat center;
      }

      .img2 {
        background: url("../../img/index/linghuo.png") no-repeat center;
      }
      .img3 {
        background: url("../../img/index/wending.png") no-repeat center;
      }
      .img4 {
        background: url("../../img/index/simi.png") no-repeat center;
      }
    }
    .v1:hover .img1{
      background: url("../../img/index/jingzhunhover.png") no-repeat center;
    }
    .v2:hover .img2{
      background: url("../../img/index/linghuohover.png") no-repeat center;
    }
    .v3:hover .img3{
      background: url("../../img/index/wendinghover.png") no-repeat center;
    }
    .v4:hover .img4{
      background: url("../../img/index/simihover.png") no-repeat center;
    }
  }
}

/***
客户
 */
.my-customer {
  margin-top: 90px;
  height: auto;
  padding: 0;
  .title {
    text-align: center;
    .tlt {
      font-size: 34px;
      color: #333;
    }
    .text {
      display: inline-block;
      font-size: 18px;
      color: #999;
      margin-top: 20px;
    }
  }
  ul {
    padding: 0;
    margin-top: 56px;
    li {
      width: calc(100% / 5);
      height: 110px;
      list-style: none;
      p {
        width: 95%;
        height: 95px;
        background: #fafcfd;
        .img {
          display: inline-block;
          width: 170px;
          height: 60px;
          margin-top: 22px;
          margin-left: 30px;
          background: url("../../img/index/huoban.png") no-repeat center;
        }
        .img1 {
          background-position: 0 -70px;
        }
        .img1:hover {
          background-position: 0 -5px;
          background-size: 100%;
        }
        .img2 {
          background-position: 0 -197px;
          background-size: 100%;
        }
        .img2:hover {
          background-position: 0 -132px;
          background-size: 100%;
        }
        .img3 {
          background-position: 0 -330px;
          background-size: 100%;
        }
        .img3:hover {
          background-position: 0 -265px;
          background-size: 100%;
        }
        .img4 {
          background-position: 0 -460px;
          background-size: 100%;
        }
        .img4:hover {
          background-position: 0 -395px;
          background-size: 100%;
        }

        .img5 {
          background-position: 0 -590px;
          background-size: 100%;
        }
        .img5:hover {
          background-position: 0 -525px;
          background-size: 100%;
        }
        .img6 {
          background-position: 0 -720px;
          background-size: 100%;
        }
        .img6:hover {
          background-position: 0 -655px;
          background-size: 100%;
        }

        .img7 {
          background-position: 0 -850px;
          background-size: 100%;
        }
        .img7:hover {
          background-position: 0 -785px;
          background-size: 100%;
        }
        .img8 {
          background-position: 0 -980px;
          background-size: 100%;
        }
        .img8:hover {
          background-position: 0 -915px;
          background-size: 100%;
        }
        .img9 {
          background-position: 0 -1110px;
          background-size: 100%;
        }
        .img9:hover {
          background-position: 0 -1045px;
          background-size: 100%;
        }
        .img10 {
          background-position: 0 -1240px;
          background-size: 100%;
        }
        .img10:hover {
          background-position: 0 -1175px;
          background-size: 100%;
        }
        .img11 {
          background-position: 0 -1370px;
          background-size: 100%;
        }
        .img11:hover {
          background-position: 0 -1305px;
          background-size: 100%;
        }
        .img12 {
          background-position: 0 -1500px;
          background-size: 100%;
        }
        .img12:hover {
          background-position: 0 -1435px;
          background-size: 100%;
        }
        .img13 {
          background-position: 0 -1630px;
          background-size: 100%;
        }
        .img13:hover {
          background-position: 0 -1565px;
          background-size: 100%;
        }
        .img14 {
          background-position: 0 -1760px;
          background-size: 100%;
        }
        .img14:hover {
          background-position: 0 -1695px;
          background-size: 100%;
        }
        .img15 {
          background-position: 0 -1890px;
          background-size: 100%;
        }
        .img15:hover {
          background-position: 0 -1825px;
          background-size: 100%;
        }
        .img16 {
          background-position: 0 -2020px;
          background-size: 100%;
        }
        .img16:hover {
          background-position: 0 -1955px;
          background-size: 100%;
        }
        .img17 {
          background-position: 0 -2150px;
          background-size: 100%;
        }
        .img17:hover {
          background-position: 0 -2085px;
          background-size: 100%;
        }
        .img18 {
          background-position: 0 -2280px;
          background-size: 100%;
        }
        .img18:hover {
          background-position: 0 -2215px;
          background-size: 100%;
        }
        .img19 {
          background-position: 0 -2410px;
          background-size: 100%;
        }
        .img19:hover {
          background-position: 0 -2345px;
          background-size: 100%;
        }
        .img20 {
          background-position: 0 -2540px;
          background-size: 100%;
        }
        .img20:hover {
          background-position: 0 -2475px;
          background-size: 100%;
        }
      }

    }
  }
}

/**
推广APP
 */
.my-extension {
  width: 100%;
  height: 320px;
  margin-top: 100px;
  background: url("../../img/index/tuiguang.png") no-repeat center;
  background-size: cover;
  .extension {
    .left {
      margin-top: 50px;
      h2 {
        font-size: 30px;
        color: #fff;
        line-height: 50px;
      }
      a {
        margin-top: 20px;
        font-size: 18px;
        display: inline-block;
        width: 164px;
        height: 44px;
        line-height: 44px;
        color: #fff;
        background: #00a4ff;
        border-radius: 5px;
        text-decoration: none;
        padding-left: 33px;
        position: relative;
      }
      a:hover {
        background: #00baff;
      }
      a:before {
        position: absolute;
        display: inline-block;
        content: "";
        background: #fff;
        width: 18px;
        height: 2px;
        right: 30px;
        top: 21px;
        margin-bottom: 20px;
        z-index: 1;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
      a:after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #fff;
        right: 25px;
        top: 17px;
        margin-bottom: 16px;
        z-index: 1;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
      a:hover:before, a:focus:before {
        right: 15px;
      }
      a:hover:after, a:focus:after {
        right: 11px;
      }
    }
    .right {
      margin-top: 50px;
      width: 200px;
      height: 200px;
      background: url("../../img/index/jiantou.png") no-repeat center;
      background-size: 50%;
      span {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url("../../img/index/zhuanquan.png") no-repeat center;
        background-size: 80%;
        -webkit-animation: rotateLogo 20s linear infinite;
        -moz-animation: rotateLogo 20s linear infinite;
        animation: rotateLogo 20s linear infinite;
      }
      @keyframes rotateLogo {
        0% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
}
