html, body {
  -ms-overflow-style: scrollbar;
}

/***
底部
 */
.my-footer {
  width: 100%;
  height: 300px;
  background: #323232;
  .footer {
    height: 100%;
    .top {
      margin-top: 60px;
      height: 190px;
      border-bottom: 1px solid #474747;
      .logo {
        display: inline-block;
        width: 130px;
        height: 130px;
        background: url("../../img/index/11103.png") no-repeat center;
        background-size: 100%;
        margin-right: 130px;
      }
      div {
        display: inline-block;
        height: 100%;
        h5 {
          font-size: 14px;
          color: #fff;
          margin-bottom: 20px;
        }
        a {
          text-decoration: none;
          display: inline-block;
          color: #8c8f94;
          font-size: 14px;
          margin-bottom: 15px;
        }
        a:hover {
          color: #fff;
        }
      }
      .kaifazhe {
        margin-right: 130px;
      }
      .wendangzhongxin {
        margin-right: 130px;
      }
      .lianxiwomen span {
        display: inline-block;
        margin-bottom: 15px;
        color: #8c8f94;
        font-size: 14px;
      }
      .qitalianxifangshi {
        .img {
          display: inline-block;
          width: 34px;
          height: 30px;
          background: url("../../img/index/disanfang.png") no-repeat center;
          margin-right: 24px;
        }
        .footer-a {
          display: inline-block;
          width: 100px;
        }
        .imgqq {
          background-position: 0 -28px;
        }
        .imgqq:hover {
          background-position: 0 1px;
        }
        .imgwc {
          background-position: -50px -28px;
        }
        .imgwc:hover {
          background-position: -50px 1px;
        }
        .imgpy {
          background-position: -103px -30px;
        }
        .imgpy:hover {
          background-position: -103px -1px;
        }
        .imgwb {
          background-position: -160px -33px;
        }
        .imgwb:hover {
          background-position: -160px -4px;
        }
      }
    }
    .bottom {
      font-size: 12px;
      color: #515151;
      height: 50px;
      .left {
        height: 50px;
        line-height: 50px;
      }
      .right {
        a {
          display: inline-block;
          text-decoration: none;
          font-size: 12px;
          color: #515151;
        }
        a:hover {
          color: #fff;
        }
      }
    }
  }
}

/***
侧边功能栏
 */
.functionBar {
  position: fixed;
  right: 0;
  bottom: 150px;
  width: 44px;
  z-index: 999;
  div {
    width: 100%;
    height: 55px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    .icon {
      background: url("../../img/index/bar.png") no-repeat;
    }
    .icon1 {
      background-position: 5px 0;
    }
    .icon2 {
      background-position: 12px -28px;
    }
  }
  .bar-qq {
    background: rgba(61, 186, 255, 0.8);
    padding-top: 3px;
    a {
      display: block;
      width: 44px;
      height: 30px;
    }
  }
  .bar-qq:hover {
    background: rgba(97, 199, 255, 0.8);
  }
  .bar-code {
    background: rgba(0, 164, 255, 0.8);
    padding-top: 14px;
    span {
      display: block;
      width: 60px;
      height: 26px;
    }
  }
  .bar-back {
    padding-top: 11px;
    background-color: rgba(56, 56, 56, 0.8);
  }
  .bar-back:hover {
    background: rgba(81, 81, 81, 0.8);
  }
}

.layout-menu {
  overflow-y: auto;
}

.footer.container {
  width: 100% !important;
  max-width: 1200px;
}


// 移动端样式
@media only screen and (max-width: 767px) {

  .my-footer {
    height: auto;

    .footer {
      .top {
        height: auto;
        margin-top: 20px;
        text-align: center;
        font-size: 0;

        .logo {
          display: none;
        }

        .wendangzhongxin {
          width: 50%;
          margin-right: 0;
          float: none!important;
          text-align: left;
          vertical-align: top;
        }

        .lianxiwomen {
          width: 50%;
          float: none!important;
          text-align: left;
        }

        .qitalianxifangshi {
          width: 100%;
          float: none!important;
          text-align: left;
        }
      }

      .bottom {
        height: auto;

        .left {
          height: auto;
          line-height: 1.5;
          padding: 10px 0;
        }
      }
    }
  }
}